.productsList {
    display: flex;
    flex-wrap: wrap;
}

.productCard {
    margin: 10px;
    width: 250x;
}

.productImg {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main {
    grid-column-start: 1;
    grid-column-end: 10;
}

.cartWrapper {
    grid-column-start: 10;
    grid-column-end: 13;
}